@font-face {
    font-family: "Bravura";
    src: url(./assets/fonts/Bravura.otf) format("opentype") !important;
}

@font-face {
    font-family: "BravuraText";
    src: url(./assets/fonts/BravuraText.otf) format("opentype") !important;
}